<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            text-align: center;
             display: flex;
             position: absolute;
             left:40%;
             top: 20%;
             border: 2px solid black;
        }

        .signup{
            margin:0 auto;
        }

        input {
            background-color: beige;
        }
        
        body{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/v1/signup" method="post">
    <table>
        <tr>
           <th><h4>Name</h4> </th>
            <th><input type="text" name="name"></th>
        </tr>
        <tr>
            <th><h4>Father</h4> </th>
             <th><input type="text" name="father"></th>
         </tr>
         <tr>
            <th><h4>Mother</h4> </th>
             <th><input type="text" name="mother"></th>
         </tr>
         <tr>
            <th><h4>Mobile</h4> </th>
             <th><input type="text" name="mobile"></th>
         </tr>
         <tr>
            <th><h4>Gmail</h4> </th>
             <th><input type="text" name="gmail"></th>
         </tr>
    </table>
    <button class="signup">SignUp</button>
</form>
</div>
</body>
</html>